@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@responsive {
  .bg-primary-gradient {
    background: linear-gradient(135deg, #232d37 0%, #172f48 50.52%, #07396b 100%);
  }
  .bg-secondary-gradient {
    background: linear-gradient(135deg, #00A7E1 0%, #6DC9B1 100%);
  }
}

/* Tailwind: Min-Height - Work in progress! */
.min-h-62 {
  min-height: 14rem;
}

.min-h-128 {
  min-height: 32rem;
}

.text-indent-hidden {
  text-indent: -100000px;
}

.aaz-menu a:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: linear-gradient(135deg, #232d37 0%, #172f48 50.52%, #07396b 100%);
  transform: rotate(30deg);
}